*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{
    display: flex;
    width: 100%;
    min-height: 100vh;
    /* margin: auto; */
    color: white;
    justify-content: center;
    align-items: center;
}

.father{
    display: flex;
    justify-content: center;
    align-items: center;
}

.con1{
    padding: 30px;
    width: 200px;
    
}

.orange{
    background-color: hsl(31, 77%, 52%);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;

}


.blue{
    background-color:  hsl(184, 100%, 22%);
}
 .red{
    background-color: hsl(179, 100%, 13%);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px; 
}

.con1 img{
    margin-bottom: 20px;
}

.con1 h1{
    margin-bottom: 20px;
    text-transform: uppercase;
    /* font-family:  (https://fonts.google.com/specimen/Big+Shoulders+Display); */
}

.con1 p{
    margin-bottom: 100px;
    font-size: 12px;
    padding-top: 30px;

}

button{
    border: none;
    border-radius: 25px;
    width: 100px;
    height: 40px;
}

.orange button{
    color:  hsl(31, 77%, 52%);
}
.blue button{
    color: hsl(184, 100%, 22%);
    
}
.red button{
    color: hsl(179, 100%, 13%);
}
@media screen and  (max-width: 610px){

    .father{
        flex-direction: column;
    }
    .orange{
        border-bottom-left-radius: 0px;
        border-top-right-radius: 10px;

    }
    .red{
        border-top-right-radius: 0px;
        border-bottom-right-radius: 10px;
        border-bottom-left-radius: 10px;
    }
}


